body {
  font-family: Arial, sans-serif;
}


.navbar img{
    width: 100px;
}

/* HERO */
.hero {
  background: url('https://images.unsplash.com/photo-1518091043644-c1d4457512c6') center/cover;
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
}

.overlay {
  width: 100%;
  padding: 50px;
}

/* CARDS */
.card {
  border: none;
}
.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* BOTÕES */
.btn {
  border-radius: 20px;
}

td img{
  width: 40px;
}